# SPDX-FileCopyrightText: 2026 Dynatrace LLC
# SPDX-License-Identifier: MIT

# Your CODEOWNERS rules below
* @off-on-dev/core-maintainers

Signed-off-by: Kenyatta Forbes <KENYATTA.FORBES@DYNATRACE.COM>
